@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap');

*{
    margin: auto; 
}
header {
    background-color: rgb(170, 221, 227);
    height: 100px;
    padding-top: 30px;
    overflow: hidden;
}
header h1{
    float: right;
}
.left{
    width: 40%;
    float: left;
    padding-left: 40px;
}
.right{
    width: 30%;
    float: right;
}
.right button{
    height: 40px;
    width: 200px; 
    background-color: rgb(39, 209, 222);
    font-size: 20px;
    border: solid 2px blue; 
    border-radius: 10px;
}
.right button:hover{
    color:rgb(251, 0, 0);
    background-color: antiquewhite;
    border: solid 2px rgb(121, 87, 44);
}