@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #a3dbdd;
    padding: 20px 40px;
    overflow: hidden; 
}

.left {
    float: left; 
    width: 40%; 
}

.left h1 {
    display: inline-block;  
    vertical-align: middle;
    font-family: 'Roboto Slab', serif;
    font-size: 17px;        
    color: #000;
    position: relative;
    top: -5px;              
    margin-left: 8px;
}

.right {
    float: right;
    width: 60%;
    text-align: right; 
}

nav {
    display: inline-block; 
    vertical-align: middle;
    margin-right: 20px;
}

nav ul li {
    display: inline; 
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
}


.btn-signup {
    display: inline-block;
    vertical-align: middle;
    background-color: #4fc3f7;
    color: #0d47a1;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
}

.btn-signup:hover{
    color:rgb(122, 128, 214);
    background-color: antiquewhite;
    border: solid 2px rgb(128, 212, 117);

}

#hero {
    background-color: #0e3079;
    background-image: url("/imagen/fondo landing.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    text-align: center;
    color: white;
    padding-top: 35px;
    min-height: 100vh;
    overflow: hidden;
}

.hero-text-container {
    max-width: 750px; 
    margin: 0 auto;
    padding: 0 20px;
    padding-bottom: 40px;
}

#hero h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 20px;
    position: relative;
    top: -10px; 
}

#hero p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px; 
    line-height: 1.7;
    max-width: 520px; 
    margin: 0 auto; 
}


footer {
    background-color: azure;
    height: 100px;
    padding-top: 20px;
    text-align: center;
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
}
footer svg {
    color: #09a8e7; 
    margin: 0 5px; 
}