@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



* {
    margin: auto;
}


#cuerpo {
    font-family: "Open Sans", sans-serif;
    color: #263B72;
    background-color: #d3d9de;
}
#cuerporeversa {
    font-family: "Open Sans", sans-serif;
    color: #263B72;
    background-color: #d3d9de;
}

.feature-section {
    margin-bottom: 100px;
}

.content-wrapper {
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 40px 0;
}

.text-content {
    flex: 1;
    max-width: 500px;
}


.text-content h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 15px;
    color: #1f3c88;
}

.text-content p {
    font-size: 1rem;
    font-weight: 100;
    margin-bottom: 15px;
    color: #060606;
}
.text-content strong {
    font-weight: 700;
}


/* Botones */
button {
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 700;
    background-color: #49b7f1;
    color:#263B72;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    letter-spacing: 0.5px;

}

.btn-primary:hover {
    background-color: #3aa5db;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(73, 183, 241, 0.3);
}

.image-circle img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


#terceraparte {
    font-family: "Open Sans", sans-serif;
    color: #263B72;
    background-color: #E2EBF3;
}

.travelapp {
    text-align: center;
}

#terceraparte h2{
    font-size: 2.8rem;
    font-weight: 700;
    color: #263B72;
    line-height: 1.3;
    margin-bottom: 20px;
}

#terceraparte p{
    font-size: 1.1rem;
    color: #0b0b0b;
    margin-bottom: 30px;
    line-height: 1.6;
}

#terceraparte button{
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 700;
    background-color: #49b7f1;
    color:#263B72;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    letter-spacing: 0.5px;
}